* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  font-family: Georgia, "맑은 고딕", serif;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#mainContainer {
  display: -ms-grid;
  -ms-grid-columns: 800px 1fr;
  -ms-grid-rows: 1fr;
  display: grid;
  grid-template-columns: 800px 1fr;
  grid-template-rows: 1fr;
}
#calendar{
  -ms-grid-column: 1;
  border-right: 1px solid black;
}
#calendarMenu {
  margin: 10px;
}
#calendarMenu > button {
  height: 24px;
  font-size: 0.9rem;
}
#calendarWeekdays {
  margin: 10px;
}
#calendarWeekdays div {
  display: inline-block;
  width: 105px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
}
#calendarBody {
  width: 780px;
  max-height: calc(100% - 70px);
  max-height: 80vh;
  margin-left: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
}
#calendarTable {
  border: 1px solid black;
  border-collapse:collapse;
}
.colOdd {
  width: 105px;
  background-color: Gainsboro;
}
.colEven {
  width: 105px;
  background-color: white;
}
.colHoliday {
  width: 105px;
  color: red;
}
#tableBody {
  text-align: center;
}
#tableBody td {
  height: 120px;
  border: 1px solid black;
  vertical-align: top;
}
.dr {
  display: inline-block;
  vertical-align: middle;
  width: 73px;
  height: 25px;
  line-height: 25px;
  margin-top: 5px;
  font-size: 0.75rem;
  text-align: center;
}
.drInCell {
  display: block;
  width: 102px;
  height: 25px;
  line-height: 25px;
  font-size: 0.9rem;
  vertical-align: middle;
  text-align: center;
}
.dr1 {background-color: Coral; color:Black;}
.dr2 {background-color: DeepSkyBlue; color:Black;}
.dr3 {background-color: Gold; color:Black;}
.dr4 {background-color: PaleGreen; color:Black;}
.dr5 {background-color: Plum; color:Black;}
.dr6 {background-color: Peachpuff; color:Black;}
.selected {background-color: DimGray; color: white; opacity: 0.5;}

.workHour {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 0.9rem;
  text-align: center;
}
#control {
  -ms-grid-column: 2;
  border-right: 1px solid black;
}
#members {
  width: 250px;
  margin: 20px 1px;
  text-align: center;
}
#output {
  max-height: calc(100% - 155px);
  max-height: 60vh;
  width: 250px;
  margin: 1px;
  padding: 5px;
  border: 1px solid grey;
  overflow-x: hidden;
  overflow-y: scroll;
}
#output>div {
  border-bottom: 1px solid grey;	
}
