* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 10px;
  font-family: Georgia, "맑은 고딕", serif;
  overflow-x: hidden;
  word-break: keep-all;
}
.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.util {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.util__rect {
  width: 200px;
  margin: 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.util__rect__name {
  font-size: 16px;
  text-align: center;
}
.util__rect__description {
  font-size: 14px;
}
.util img {
  width: 100%;
  object-fit: contain;
}
footer {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: rgb(244, 244, 246);
  color: #6e6e73;
  font-size: 14px;
}
