@font-face {
  font-family: 'clashmagic';
  src: url('./fonts/Clash-Regular.otf') format('opentype');
}

* {
  box-sizing: border-box;
}

body {
  touch-action: manipulation;
  font-family: clashmagic, Verdana, Arial, Helvetica, sans-serif;
}

header {
  display: block;
  width: 100%;
  padding-top: 10px;
  padding-left: 32px;
  font-size: 1.2rem;
  border-bottom: 1px solid black;
}
header a {
  margin-left: 10px;
}

.army__tierselect {
  user-select: none;
  width: 90%;
  margin: 0 auto;
  font-size: 1.2rem;
}
.army__tierselect__tier {
  display: inline-block;
  width: 80px;
}

.army__infotable {
  user-select: none;
  width: 90%;
  height: 30px;
  margin: 5px auto;
  font-size: 0.9rem;
}
.army__infotable__unitcount {
  display: inline-block;
  border-radius: 0.6rem;
  background-color: rgba(207,207,201, 0.7);
  text-align: right;
  vertical-align: top;
}
.army__infotable__unitcount__icon {
  display: inline-block;
  background-image: url('./COCimages/misc.png');
  background-size: 75px 29px;
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 23px;
  height: 30px;
  margin-left: 10px;
  vertical-align: top;
}
.army__infotable__unitcount__count {
  display: inline-block;
  width: 30px;
  line-height: 30px;
}
.army__infotable__unitcount__totalcount {
  display: inline-block;
  width: 45px;
  line-height: 30px;
  text-align: left;
}
.army__infotable__spellcount {
  display: inline-block;
  border-radius: 0.6rem;
  background-color: rgba(207,207,201, 0.7);
  vertical-align: top;
}
.army__infotable__spellcount__icon {
  display: inline-block;
  background-image: url('./COCimages/misc.png');
  background-size: 75px 29px;
  background-repeat: no-repeat;
  background-position: -23px 0;
  width: 32px;
  height: 30px;
  vertical-align: top;
}
.army__infotable__spellcount__count {
  display: inline-block;
  width: 30px;
  text-align: right;
  line-height: 30px;
}
.army__infotable__spellcount__totalcount {
  display: inline-block;
  width: 30px;
  line-height: 30px;
}
.army__infotable__link {
  display: inline-block;
  height: 30px;
  line-height: 23px;
  margin-left: 10px;
}

.army__infotable__link__generator, .army__infotable__link__linkahref, .army__infotable__link__copy {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 28px;
  top: 1px;
  padding: 0;
  border-top: 2px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 2px solid black;
  border-radius: 0.5rem;
  background: rgb(110,193,53);
  background: linear-gradient(0deg, rgba(110,193,53,1) 0%, rgba(139,221,52,0.5) 100%);
  box-shadow: 0 3px 2px rgba(0,0,0,0.5), inset 0 1px white;
  vertical-align: top;
  text-align: center;
  color: white;
  font-family: clashmagic;
  font-size: 0.8rem;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.army__infotable__link__generator:active, .army__infotable__link__linkahref:active, .army__infotable__link__copy:active {
  transform: scale(0.98);
  box-shadow: 0 1px 1px rgba(0,0,0,0.5);
}
.army__infotable__link--active {
  transform: scale(0.98);
}
.army__infotable__link__generator__halfinner {
  position: absolute;
  mix-blend-mode: soft-light;
  background-color: white;
  width: 100%;
  height: 11px;
  top: 2px;
  border-radius: 0.5rem;
}
.army__infotable__link__linkahref, .army__infotable__link__copy {
  width: 60px;
  margin-left: 10px;
}
.army__infotable__link__copied {
  vertical-align: top;
  line-height: 30px;
}

.army__unitdisplay {
  user-select: none;
  width: 90%;
  min-height: 170px;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 0.9rem;
  background-color: rgba(207,207,201, 0.2);
}
.army__unitdisplay button {
  display: inline-block;
  position: relative;
  user-select: none;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  width: 80px;
  height: 80px;
  margin: 2px;
  border: 1px solid black;
  border-radius: 0.8rem;
}
.army__unitdisplay__count {
  position: absolute;
  top: 2px;
  left: 5px;
  font-family: clashmagic;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.army__unitdisplay__minusimg {
  position: absolute;
  display: inline-block;
  user-select: none;
  background-image: url('./COCimages/misc.png');
  background-size: 75px 29px;
  background-repeat: no-repeat;
  background-position: -55px 0;
  top: 2px;
  right: 2px;
  width: 20px;
  height: 20px;
}

.army__unitselect {
  user-select: none;
  width: 90%;
  margin: 0 auto;
}
.army__unitselect__units > button, .bgcolor--units {
  background-color: rgb(140, 188, 224);
}
.army__unitselect__superunits > button, .bgcolor--superunits {
  background-color: rgb(177, 72, 87);
}
.army__unitselect__spells > button, .bgcolor--spells {
  background-color: rgb(112, 91, 169);
}
.army__unitselect__siegemachines > button, .bgcolor--siegemachines {
  background-color: rgb(140, 188, 224);
}
.army__unitselect button {
  display: inline-block;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  width: 80px;
  height: 80px;
  margin: 2px auto;
  border: 1px solid black;
  border-radius: 1.2rem;
  box-shadow: 2px 3px 0 rgba(0,0,0,0.5);
}
.army__unitselect--clickable:active {
  transform: scale(0.98);
  top: 2px;
  box-shadow: 1px 1px 0 rgba(0,0,0,0.5);
}
.army__unitselect--clickable--active {
  transform: scale(0.98);
  top: 2px;
  box-shadow: 1px 1px 0 rgba(0,0,0,0.5);
}
.army__unitselect--disabled, .army__unitselect--disabledSU, .army__unitselect--disabledTH {
  -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.army__unitselect--disabledTH {
  opacity: 0.3;
}


@media (max-width: 700px) {
  .army__unitdisplay button, .army__unitselect button {
    transform: scale(0.7);
    margin: calc(-40px * (1 - 0.7)) calc(-40px * (1 - 0.7)) calc(-40px * (1 - 0.7)) calc(-40px * (1 - 0.7));
  }
  .army__unitselect--clickable:active {
    transform: scale(0.65);
  }
  .army__unitselect--clickable--active {
    transform: scale(0.65);
    top: 2px;
    box-shadow: 1px 1px 0 rgba(0,0,0,0.5);
  }
}
@media (max-width: 400px) {
  .army__tierselect {
    font-size: 0.9rem;
  }
  .army__infotable {
    height: auto;
  }
  .army__infotable__link {
    display: block;
    margin-left: 0;
    margin-top: 3px;
  }
  .army__infotable__link__generator {
    margin-left: 0;
  }
  .army__unitdisplay button, .army__unitselect button  {
    transform: scale(0.5);
    margin: calc(-40px * (1 - 0.5)) calc(-40px * (1 - 0.5)) calc(-40px * (1 - 0.5)) calc(-40px * (1 - 0.5));
  }
  .army__unitselect--clickable:active {
  transform: scale(0.45);
  }
  .army__unitselect--clickable--active {
    transform: scale(0.45);
    top: 2px;
    box-shadow: 1px 1px 0 rgba(0,0,0,0.5);
  }
}
